<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Lovers Home Page</title>
</head>
<body>
	<h1>Movie Lovers</h1>
		<form action="/results" method="POST">
    		<input type="text" name="results" required placeholder="Search...">
    		<button type="submit" name="action" value="results">Search movies</button>
  		</form>
</body>
</html>