<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posters results</title>
</head>
<body>
	<h1>9 posters result of search</h1>
	<table>
		<tr>
		<% @found_movies.each_with_index do |movie, index|%>
			<td><img style ="width: 300px" src=<%= movie.poster %>/></td>
			<% if (index+1) %3==0%>
				</tr>
				<tr>
			<%end%>
		<%end%>
		</tr>		
		<a href ="/"><h2>Try search again</h2></a>
</body>
</html>